@font-face {
  font-family: "iconfont"; /* Project id 1428432 */
  src: url('iconfont.woff2?t=1625649801246') format('woff2'),
       url('iconfont.woff?t=1625649801246') format('woff'),
       url('iconfont.ttf?t=1625649801246') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconhuli-01:before {
  content: "\e60c";
}

.iconsongshu-01:before {
  content: "\e60d";
}

.iconziyuanldpi:before {
  content: "\e61b";
}

.iconxiangyou:before {
  content: "\e639";
}

.iconbofang:before {
  content: "\e606";
}

.iconxunhuanbofang:before {
  content: "\e66c";
}

.icondanquxunhuan:before {
  content: "\e66d";
}

.iconicon--:before {
  content: "\e77d";
}

.icondiyiyeshouyeshangyishou:before {
  content: "\e76c";
}

.iconzuihouyiyemoyexiayishou:before {
  content: "\e76d";
}

.iconfanhui:before {
  content: "\e646";
}

.iconzanting:before {
  content: "\e629";
}

