@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.woff2?t=1625649801246') format('woff2'),
       url('./font/iconfont.woff?t=1625649801246') format('woff'),
       url('./font/iconfont.ttf?t=1625649801246') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hello {
  color: red;
  background:url(./suoluo04.jpeg);
}