<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit</title>
</head>
<body>
  <h2>编辑用户</h2>
  <form action="/doEditUser/{{@_id}}" method="post">
    姓 名： <input type="text" name="name" id="name" value="{{name}}">
    <br>
    <br>
    性 别： <input type="text" name="gender" id="gender" value="{{gender}}">
    <br>
    <br>
    年 龄： <input type="text" name="age" id="age" value="{{age}}">
    <br>
    <br>
    <input type="submit" value="提交">
  </form>
</body>
</html>