<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INDEX</title>
</head>
  <div>
    <form action="/doLogin" method="post">
      <br>
      姓 名：<input type="text" name="name">
      <br>
      <br>
      密 码：<input type="password" name="password">
      <br>
      <input type="submit" value="提交">
    </form>
  </div>  
</body>
</html>