<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <form action="/login" method="post">
      姓名： <input type="text" name="username">
      <br>
      密码： <input type="password" name="password">
      <br>
      <button type="submit">提交</button>
    </form>
  </div>
</body>
</html>