<html>

<head>
  <style>
    .component-fade-enter-active,
    .component-fade-leave-active {
      transition: opacity 0.3s ease;
    }

    .component-fade-enter-from,
    .component-fade-leave-to {
      opacity: 0;
    }
  </style>
</head>

<body>
  <script src="https://unpkg.com/vue@next"></script>

  <div id="demo">
    <input v-model="view" type="radio" value="v-a" id="a"><label for="a">A</label>
    <input v-model="view" type="radio" value="v-b" id="b"><label for="b">B</label>
    <transition name="component-fade" mode="out-in">
      <component :is="view"></component>
    </transition>
  </div>
  
  <script>
    const Demo = {
      data() {
        return {
          view: 'v-a'
        }
      },
      components: {
        'v-a': {
          template: '<div>Component A</div>'
        },
        'v-b': {
          template: '<div>Component B</div>'
        }
      }
    }
    
    Vue.createApp(Demo).mount('#demo')

  </script>
</body>

</html>