<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add</title>
</head>
<body>
  <h2>增加用户</h2>
  <form action="/doAddUser" method="post">
    姓 名： <input type="text" name="name" id="name">
    <br>
    <br>
    性 别： <input type="text" name="gender" id="gender">
    <br>
    <br>
    年 龄： <input type="text" name="age" id="age">
    <br>
    <br>
    <input type="submit" value="提交">
  </form>
</body>
</html>